.*.swp
proguard-project.txt
local.properties
build.xml
gen
bin
website/PdDroidParty-debug*.apk
website/droidparty-*.zip
website/index.html

workspace
.gradle
build

# Android Studio IDE Files
.idea
*.iml
